<section class="contacts parallax" id="contacts">
    <div class="contacts-1" data-aos="fade-up"
    data-aos-duration="1000">
        <h1>Contacts</h1>
        <p>Reach me via the contacts below</p>
        <div class="contact-data">
            
            <div class="email" data-aos="zoom-in" data-aos-duration="1100"><h4><i class='bx bx-envelope'></i> teddybrian543@gmail.com</h4></div>
            <div class="line"></div>
            <div class="mobile" data-aos="zoom-in" data-aos-duration="1300"><h4><i class='bx bxs-phone'></i> <span>+254</span> 715551982</h4></div>
            <div class="line"></div>
            <div class="socials" data-aos="zoom-in" data-aos-duration="1500">
                <ul>
                    <li><a href="https://x.com/BrianTeddy7" target="_blank"><i class='bx bxl-twitter bx-sm' ></i></a></li>
                    <li><a href="https://www.instagram.com/pendoria_/" target="_blank"><i class='bx bxl-instagram-alt bx-sm' ></i></a></li>
                    <li><a href="https://www.linkedin.com/in/teddy-brian-7a0057228/" target="_blank"><i class='bx bxl-linkedin bx-sm' ></i></a></li>
                </ul>
            </div>
        </div>

        <div class="contact-form">
            <p><span>Or</span> leave me a message below.</p>
            <form action="/send" method="post" class="c-1">
                <input type="email" name="email" id="email" placeholder="Your email">
                <input type="text" name="subject" id="subject" placeholder="Subject">
                <textarea name="message" id="message" placeholder="Leave a message"></textarea>
                <button type="submit" class="btn-1">Send</button>
            </form>
        </div>
    </div>
</section>