<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teddy Brian</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
    rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel=" icon" type="png" href="/img/png/logo-no-background.png">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-body-tertiary">
  <div class="container-fluid n-1">
    <a class="navbar-brand" href="/">
      <img
        src="/img/png/logo-no-background.png"
        height="30"
        alt="Nidari inc Logo"
        loading="lazy"
      />
    </a>
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <i class='bx bx-menu-alt-right' ></i>
    </button>
    <div class="collapse navbar-collapse n-2" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto n-3">
        <li class="nav-item">
          <a class="nav-link active l-1" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link l-1" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link l-1" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link l-1" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link l-1" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="video-background">
  <video autoplay muted loop id="bg-video">
      <source src="/img/mp4/background-video.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
  </video>
</div>

<div class="code-bg">
  <img src="/img/png/galaxy-bg.jpg" alt="">
</div>

<section class="hero">
  <div class="intro" data-aos="zoom-in-right" data-aos-duration="1000">
    <h4>Teddy Brian</h4>
  </div>
  <div class="typewriter">
    <h1 id="typewriter-text"></h1>
  </div>
</section>
